.scrollbars {
  position: absolute;
  overflow-x: auto;
  overflow-y: scroll;
  top: 32px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.dashboard-table {
  display: table;
  width: 100%;
}

.dashboard-header-group {
  display: table-header-group;
/*  background-color: #F8F8F8 !important;*/
}

.dashboard-row-group  {
  display: table-row-group;
}

.dashboard-row  {
  display: table-row;
  background-color: #F8F8F8;
  height: 26px;
  font-family: arial;
  font-size: 13px;
}

.dashboard-row:nth-child(odd) {
  background-color: #e6e6e6;
}

.dashboard-cell {
  display: table-cell;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: none;/* 1px solid #888;*/
  border-right: 1px solid #888;
  vertical-align: middle;
}

.dashboard-cell.customer {
  width: 10px;
  min-width: 5px;
  padding:0;
  position: relative;
}
.dashboard-cell.customer>span {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.dashboard-cell.name {
  width: 140px;
  min-width: 140px;
}

.dashboard-cell.day {
  text-align: center;
  width: 76px;
  min-width: 76px;
  max-width: 76px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dashboard-cell.tick-all {
  text-align: center;
  width: 20px;
  min-width: 20px;
}

.dashboard-cell:last-child {
  border-right: none;
}

.dashboard-row:last-child > .dashboard-cell {
  border-bottom: 1px solid #888;
}

.dashboard-header {
  display: table-cell;
  height: 20px;
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
  color: gray;
  font-weight: normal;
  font-family: arial;
  font-size: 11px;
  border-right: 1px solid transparent;
  text-align: center;
  text-shadow: white 0px 1px 1px;
  vertical-align: bottom;
}

.dashboard-header:last-child {
  border-right: none;
}

.dashboard-header.customer {
  width: 10px;
  min-width: 5px;
  padding:0;
}

.dashboard-header.name {
  width: 19%;
  min-width: 140px;
}

.dashboard-header.day {
  width: 11%;
  min-width: 76px;
  max-width: 76px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dashboard-header.tick-all {
  width: 20px;
  min-width: 20px;
}

.borders {
  border-top: 1px solid #888;
/*  border-bottom: 1px solid #888; */
}

.dashboard-row.customer .dashboard-cell {
  border:none;
}

.dashboard-row.customer span.customer>span {
  right: -50px;
}

.dashboard-row.customer span.name {
  position: absolute;
  left: 80px;
  width: 85%;
  margin-top: 4px;
  right: 50px;
}

.cell-dirty {
  color: blue;
}

.approve {
  float:right;
  cursor: pointer;
  background-color: rgba(193, 0, 11, 0.65);
  width: 1em;
  height: 1em;
  margin-top:1px;
}

/*
.approve.changed {
  background-color: rgba(199, 104, 67, 0.65);
}
*/

.approve.submitted {
  background-color: rgba(49, 188, 182, 0.66);
}

.approve.approved {
  background-color: rgba(143, 188, 143, 0.66);
}

.approve.changed {
  background-color: rgba(231, 216, 4, 0.64);
}

.weekly-view table {
  border: none;
  width: 100%;
  height: 100%;
}
.weekly-view table td, .weekly-view table th {
  position: relative;
  border: solid 1px rgba(134, 134, 134, 0.45);
  min-height: 1.5em;
}

.weekly-view table td {
  height: 25%;
}

.date {
  float: right;
  /*border: solid 1px;*/
  min-width: 1.5em;
  text-align: center;
  position: absolute;
  right: 2px;
  top: 2px;
}
.customer-color {
  border-left-style: solid;
  border-left-width: 5px;
  padding-left: 2px;
}

.timecard-cell {
  line-height: 20px;
  white-space: nowrap;
}

.tc_icon {
  width: 1em;
  vertical-align: middle;
  margin-top: -2px;
}
