
.upcoming-view {
  background-color: #cccccc;
  overflow: scroll;
}

.upcoming-view table {
  width:98%;
  margin-left: auto;
  margin-right: auto;
  border:1px solid orange;
}

.upcoming-view table, .upcoming-view td, .upcoming-view th {

  border-style: none;
  border-collapse:collapse;
}
.upcoming-view col {
  border-right: 1px solid #f1f1f1;
}

.upcoming-view col.day {
  width: 11%;
}
.upcoming-view tr.odd {
  background-color: rgba(255,255,255,0.5);
}
.upcoming-view tr:hover {
  background-color: rgba(225, 255, 224, 0.46);
}
.upcoming-view td {
  padding: 4px 0;
}

.upcoming-view td.name {
  text-transform:capitalize;
  padding-left: 6px;
  cursor: pointer;
}

.upcoming-view .day {
  text-align:center
}
.upcoming-view .day div {
  cursor: pointer;
 }

.info {
  background-color: #e6e6e6;
  font-size: 150%;
}
.info ul {
  margin-top: 16px;
  margin-left: 16px;
}
.info ul li {
  list-style: none;
}
.info ul label{
  width: 70px;
  margin-right: 16px;
  display: inline-block;
  color: grey;
  text-shadow: 0px 1px 1px white;
}
/******** ICONS ********/
.when {
  background: static_url('image/clock.png') no-repeat;
  background-size: 16px 16px;
}

.flag-yellow {
  background: static_url('image/flag_yellow.png') no-repeat;
  background-size: 16px 16px;
}

.person-16 {
  background: static_url('image/person.png') no-repeat;
  background-size: 16px 16px;
}